<div class="contai row">
  <div class="room col-8"  [ngStyle]="{'background-image': 'url(' + backroundnumber + ')'}">
    <div class="parent_custom_div" *ngIf="ishide" cdkDragBoundary=".room" cdkDrag [style.width]="550+'px'" [style.height]="180+'px'">
      <div class="frame position_custom" *ngFor ="let items of custom_picture"   [ngStyle]="{'border-color':items.bordercolor, 'width':items.width ,'height': items.height,'top':items.top,'left':items.left}" >
        <div class="subframe">
          <div class="div-image" id="{{items.id}}" >
            <button class="addimage" (click)="image.click()" ></button>
            <input type="file" #image id="{{items.id}}" style="display: none;" (change)="fileChangeEvent($event)" id="{{items.id}}" accept="image/*" aria-label="+" accept="image/*" (change)="processFile($event)">
            <img id="{{items.id}}"  [ngStyle]="{'position':items.position,'min-height': items.min_height,'min-width': items.min_width}"  [src]="items.srcimage" (click)="zoomimage(items.id)" class="custom-image" (dblclick)="removeimage(items.id)"/>     
          </div>
        </div>
      </div>
    </div>
    <div (dblclick)="doubleClick($event)" (click)="openalertinfo($event)" [ngStyle]="{'width':width_div , 'height': height_div}" *ngFor="let item of items" cdkDragBoundary=".room"  (cdkDragEnded)="dragEnd($event)" cdkDrag>
      <div class="image-spended" (click)="openalertinfo($event)" id = {{item.name}} [ngStyle]="{'background-image': 'url(' + item.url + ')','width':width_div , 'height': height_div}" ></div>
    </div>
  </div>
  <div class="setting col-4">
    <mat-card class="">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Thiết kế tranh bộ</mat-card-title>
        
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="overflow-y: scroll !important;" >
        <mat-accordion style="overflow-y: scroll !important;">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Chọn phông nền 
                
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile class="chooseroom"  *ngFor="let item of background" (click)="chooseroom($event)" [ngStyle]="{'background-image': 'url(' + item.url + ')'}">                  
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Chọn tranh bộ 
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2"  rowHeight="180px">
              <mat-grid-tile class="chooseroom" [rowspan]="2"  *ngFor="let item of basket"  cdkDropList   [cdkDropListData]="basket" cdkDrag (cdkDropListDropped)="dragEnd($event)"  >                  
                <mat-card class="example-card" >
                  <mat-card-header [ngStyle]="{'background-image': 'url(' + item.url + ')'}" >
                  </mat-card-header>
                  <mat-card-content >{{item.name}}</mat-card-content>
                  <mat-card-footer>{{item.cost}} đồng</mat-card-footer>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
          <mat-card-content style="margin-top:20px; padding-left:25px">
            <h5 class="example-h5">Tự thiết kế tranh bộ</h5>
            <section class="example-section">
              <mat-checkbox class="example-margin" [(ngModel)]="ishide">Thiết kế tranh</mat-checkbox>
            </section>
          </mat-card-content>
          <mat-expansion-panel *ngIf="ishide">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Chọn bộ tranh
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2"  rowHeight="180px">
              <mat-grid-tile class="chooseroom" [rowspan]="2"  *ngFor="let item of basket"  cdkDropList (click) ="choosecustompicture(item.id)"  [cdkDropListData]="basket" cdkDrag  >                  
                <mat-card class="example-card" >
                  <mat-card-header [ngStyle]="{'background-image': 'url(' + item.url + ')'}" >
                  </mat-card-header>
                  <mat-card-content >{{item.name}}</mat-card-content>
                  <mat-card-footer>{{item.cost}} đồng</mat-card-footer>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <!-- <mat-grid-list cols="1" rowHeight="50px">
              <mat-grid-tile class ="uploadfle" >Upload hình ảnh:</mat-grid-tile>
              <mat-grid-tile >
                <label class="file">
                  <input type="file" #imageInput id="file" aria-label="File browser example" accept="image/*" (change)="processFile($event)">
                  <span class="file-custom"></span>
                </label>                
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <span>Chọn loại khung</span>
              </mat-grid-tile>
              <mat-grid-tile>
                <select id = 'settup' (change)="Changeborder($event.target)">
                  <option value="ridge">ridge</option>
                  <option value="solid">solid</option>       
                </select>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <span>Chọn kích thước khung có sẵn</span>
                
              </mat-grid-tile>
              <mat-grid-tile>
                <select id = 'settup' (change)="Changesize($event.target)">
                  <option value="34">3x4</option> 
                  <option value="68">6x8</option>
                </select>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <span>Chỉnh chiều rộng khung</span>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-slider thumbLabel tickInterval="1" step = "10"  max="300" min="100" (change)="onSliderChangewidth($event)" ></mat-slider>
              </mat-grid-tile>
              <mat-grid-tile>
                <span>Chỉnh chiều cao khung</span>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-slider thumbLabel tickInterval="1" step = "10"  max="300" min="100" (change)="onSliderChangeheight($event)" ></mat-slider>
              </mat-grid-tile>
            </mat-grid-list> -->
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-footer>
        <div style="margin-top:50px;padding-left: 30px;">
          <span>Tổng tiền:</span> <input type="number" readonly="readonly"  [value] = "costspend"/> <span style="color: red;"> đồng</span>
          <button class="btn-order">Đặt hàng ngay</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{primaryColour: PrimaryWhite, secondaryColour: PrimaryRed, tertiaryColour: SecondaryBlue, backdropBorderRadius: '3px'}"
      [template]="loadingTemplate"></ngx-loading>
<div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title" style="text-align: center;">Cắt hình</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <image-cropper  [hidden]="!isshowcropper"
          format ="png" [imageQuality] = 100 
          [imageChangedEvent]="imageChangedEvent"         
          (imageLoaded)="imageLoaded($event)"
          (cropperReady)="cropperReady()"
          (imageCropped)="imageCropped($event)"
          (loadImageFailed)="loadImageFailed()"
          [containWithinAspectRatio] = "false" 
          [maintainAspectRatio] = "true" 
            [aspectRatio]="3/4"
           > </image-cropper>
      </div>
      <div class="modal-footer">
        <button type="button" (click) ="cropend($event)" class="btn btn-primary">Cắt hình</button >
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" id="bodyzoomimage">
            <img [src]="srcimagezoom" class="img-responsive">
        </div>
    </div>
  </div>
</div>
